.img-thumbnail{
	margin: 25px;
	width: 85%;
	height: 85%;
}
.card-body{
	padding: 0 25px;
}
.card-photo {
	padding: 10px 15px;
	background-color: #fff;
	border-top: none;
}
.card-footer{
	background-color: transparent;
}
.btn-group button{
	flex-grow: 1;
}

